*, ::before, ::after {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

:root {
    --index: calc(1vh + 1vw);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    /* --light-icon-color: #bcbcbc; */
    --light-icon-color: #e4e4e4;
    --dark-icon-color: #00000000;
    --light-color: #e4e4e4;
}

html {
    scroll-behavior: smooth;
    /* overflow-y: overlay; */

}

body {
    background: #000;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'MasvolFont', sans-serif;
    line-height: 1.55;
    color: var(--light-color);
    /* scrollbar-gutter: stable; */

}

section, footer {
    min-height: calc(100vh + 1px);
    /* color: #e4e4e4; */
    width: 100%;
    position: relative;
    padding: calc(var(--index)) calc(var(--index) * 1.6);
}

body::-webkit-scrollbar {
    position: absolute;
    left: 0;
    width: 7px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.401);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(72, 72, 72, 0.401);
    /* border-radius: 3px; */
}

.particles {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -100;

}

.anchor {
    position: fixed;
    left: 95%;
    top: 6%;
    /* width: calc(var(--index)*4.75); */
    z-index: 1000;
    opacity: 0.3;
    transition: opacity .45s ease;
    cursor: pointer;
}

.anchor-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--light-icon-color);
    width: calc(var(--index) * 1.75);
    z-index: 1000;
}

.anchor:hover {
    opacity: 1;
}

.top-window {
    z-index: -1000;
    opacity: 0;
}

.title {
    text-align: center;
    /* font-size: calc(var(--index) * 2); */
    letter-spacing: calc(var(--index) * .15);
    /* color: #e4e4e4; */
    font-size: calc(var(--index)*1.25);
    font-weight: 100;
    /* opacity: 0; */
    text-transform: uppercase;
}

.line {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    opacity: 0;
    height: 1px;
    background-color: #e4e4e4;
    margin: 0 auto calc(var(--index) * 1.85); 
    /* border-radius: 2px; */
}

.main-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    overflow: hidden;
    position: relative;
    /* opacity: 0; */
}

.main-header::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    box-shadow: inset 0 0 250px #000000;
}

.main-header__header {
    /* position: absolute; */
    text-align: center;
    z-index: 1000;
    /* top: calc(var(--index) * 10.8); */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    letter-spacing: calc(var(--index) * .1);
    font-size: calc(var(--index)*1.75);
    /* opacity: 0; */
    /* will-change: transform;
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0); */
    text-transform: uppercase;
}

.main-header__header-title {
    font-size: calc(var(--index)*1.45);
    font-weight: 100;

}

.main-header__header-text {
    max-width: calc(var(--index) * 18);
    font-size: calc(var(--index) * .45 + 4px);
    color: #cccccc;
    margin-bottom: calc(var(--index) * 6);
}

/* .layer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    will-change: transform;
    transition: var(--transition);
}

.layers__back {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    z-index: 1;
}

.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
    z-index: 3;
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.5), 0);
    z-index: 4;
} */



/* .anchor::before {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: inset 20px -30px 50px 0 rgba(151, 0, 0, 0.4), inset -20px 0 50px 0 rgba(210, 210, 210, 0.4);
} */

.main-header__btn {
    position: relative;
    text-align: center;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: calc(var(--index) * .75);
    border: 1px solid #cccccc;
    z-index: 100;
    width: 100px;
    height: 100px;
    border-radius: 90%;
    text-transform: uppercase;
    transition: border-color .7s ease-in-out;
    overflow: hidden;

}

.main-header__btn-arrow {
    position: absolute;
    transform: translate(-50%, -150%);
    left: 50%;
    top: 50%;
    color: #dcdcdc;
    height: 100%;
    width: 100%;
    transition: transform .7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
}

.main-header__arrow-icon {
    fill: #bcbcbc;
    height: calc(var(--index) * 1.15);
}

.main-header__btn-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: transform .7s ease-in-out;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) * .07);
    font-family: 'MasvolFont', monospace;

}

.main-header__btn:hover .main-header__btn-arrow {
    transform: translate(-50%, -50%);
}

.main-header__btn:hover .main-header__btn-text {
    transform: translate(-50%, 600%);
}


.main-header__btn:hover {
    border-color: transparent;

}


.works-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.slider {
    height: 78vh;
    width: 100%;
    /* z-index: -100; */
}

.slider__item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../assets/img/works/test.jpg');
    background-position: center;
    background-size: cover;

}

.slider__about {
    width: 45vw;
    margin: calc(var(--index) * 7.6) calc(var(--index) * 7.6) 0;
    text-transform: uppercase;
}

.slider__header {
    font-size: 64px;
    line-height: 1;
    letter-spacing: calc(var(--index) * .12);
    font-size: calc(var(--index)*1.25);
    font-weight: 100;
    margin-bottom: calc(var(--index));
    opacity: 0;
    /* text-transform: uppercase; */
}

.slider__description {
    margin-bottom: 20px;
    opacity: 0;
    letter-spacing: calc(var(--index) * .1);
    font-size: calc(var(--index)*.65);
}

.slider__btn-cont {
    position: relative;
    display: inline-block;
    opacity: 0;

    /* border-radius: 20px; */

}

#slider__btn {
    display: block;
    height: inherit;
    text-decoration: none;
    color: #fff;
    font-size: calc(var(--index) * .8);
    border: 1px solid #fff;
    padding: calc(var(--index) * .1) calc(var(--index) * 3.6);
    font-size: calc(var(--index)*.85);
    letter-spacing: calc(var(--index)*.15);
    cursor: pointer;
}

#slider__btn:before {
	content:'';
	position: absolute;
    transform: translate(0%, -50%);
	top: 50%;
	left: 0%;
	width: 0;
	height: 100%;
	background: rgba(214, 214, 214, 0.3);
    /* border-radius: 20px; */

	transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
}

#slider__btn:hover::before {
    width: 100%;
}

#swiper-button-prev, #swiper-button-next {
    /* border: none; */
    font-weight: 100;
    color: #8d8d8d9f;
    font-size: calc(var(--index) * 2);
    padding: 10px;
    margin: 0 20px;
    transition: color .45s ease;
}

#swiper-button-prev::after, #swiper-button-next::after {
    content: '';
}

.swiper-button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* fill: #bcbcbc; */
    fill: #8d8d8d9f;
    width: calc(var(--index) * 1.55);
    /* transition: all 1s ease; */
    transition: all .5s ease;
    /* z-index: 1000; */
}

.swiper-button-icon:hover,
#swiper-button-prev:hover .swiper-button-icon,
#swiper-button-next:hover .swiper-button-icon {
    fill: var(--light-icon-color);
}

/* ************ */
/* Work section */
/* ************ */
.technologies-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: center; */
}

.technologies {
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
    /* background-color: #ffffff2f; */
    padding: calc(var(--index) * .1);
    /* display: flex; */
    
}

.technologies__title {
    /* text-align: center;
    font-size: calc(var(--index) * 2.3);
    letter-spacing: calc(var(--index) * .15);
    margin: 0 0 calc(var(--index)); */
}

.technologies__content {
    /* background-color: #98989835; */
    /* border-radius: 10px; */
    /* padding: calc(var(--index)); */
}

.technologies__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: calc(var(--index) * .6) 0 0; /* Отступ слева в браузере IE и Opera */
    padding: 0;
    height: 100%;
}

.technologies__list:first-child {
    margin-top: calc(var(--index) * 2);
}

.technologies__list-item {
    text-decoration: none;
    list-style-type: none; /* Убираем маркеры */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    margin: 0 calc(var(--index) * .3) calc(var(--index) * .6);
    opacity: 0;
}

/* .technologies__list-item:first-child {
    margin-left: 0;
}

.technologies__list-item:last-child {
    margin-right: 0;
} */

/* .technologies__list-item:hover {
    padding: calc(var(--index) * 2.25) calc(var(--index) * 4.25);
} */

.technologies__list-item-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* fill: #bcbcbc; */
    fill: var(--light-icon-color);
    width: calc(var(--index) * 5.15);
    /* transition: all 1s ease; */
    transition: all 1s ease;
    z-index: 1000;
}

.technologies__list-item:hover .technologies__list-item-icon {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #bcbcbc;
    width: calc(var(--index) * 5.15);
    transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
    z-index: 1000; */
    width: calc(var(--index) * 7.15);
}

.technologies__list-item-description {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-icon-color);
    /* opacity: ; */
    transition: all .6s ease;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* .technologies__list-item:hover {
    
    background-color: #ffffff;
    width: 210px;
    height: 210px;
} */

/* .technologies__list-item:hover .technologies__list-item-icon {
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */


/* .technologies__list-item:hover .technologies__list-item-description {
    background-color: #e2e2e2;
    width: calc(var(--index) * 10.5);
    height: calc(var(--index) * 10.5);
    z-index: 999;
} */

.python-logo, .redux-logo, .mysql-logo, .express-logo {
    /* fill: #bcbcbc; */
    fill: var(--light-icon-color);
    transition: all 1s ease;
}

.technologies__list-item:hover .html-logo {
    fill: #e44d26;
}

.technologies__list-item:hover .css-logo {
    fill: #1a45e1;
}

.technologies__list-item:hover .js-logo {
    fill: #f7df1e;
}

.technologies__list-item:hover .react-logo {
    fill: #02d3f7;
}

.technologies__list-item:hover .vue-logo {
    fill: #3fb27f;
}

.technologies__list-item:hover .nodejs-logo {
    fill: #599f48;
}

.technologies__list-item:hover .php-logo {
    fill: #4d588e;
}

.technologies__list-item:hover .laravel-logo {
    fill: #f72c1f;
}

.technologies__list-item:hover .mysql-logo {
    fill: #00546B;
}

.technologies__list-item:hover .mongodb-logo {
    fill: #47a340;
}

.technologies__list-item:hover .bootstrap-logo {
    fill: #7d57b5;
}

.technologies__list-item:hover .mui-logo {
    fill: #0883ff;
}

.technologies__list-item:hover .git-logo {
    fill: #f15639;
}

.technologies__list-item:hover .python-logo_up {

    fill: #3675a5;
}

.technologies__list-item:hover .python-logo_down {
    fill: #f7d856;
}

.technologies__list-item:hover .redux-logo {
    fill: #764ABC;
}

.webpack-line-logo, .webpack-space-logo, .webpack-cube-logo {
    transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
}

.webpack-line-logo {
    /* fill: #fff; */
    /* fill: #bcbcbc; */
    fill: var(--dark-icon-color);
}

.webpack-space-logo {
    /* fill: #8ed6fb; */
    fill: var(--light-icon-color);
}

.webpack-cube-logo {
    /* fill: #1c78c0; */
    fill: var(--light-icon-color);
}

/* .technologies__list-item:hover .webpack-line-logo {
    fill: #fff;
} */

.technologies__list-item:hover .webpack-space-logo {
    fill: #8ed6fb;
}

.technologies__list-item:hover .webpack-cube-logo {
    fill: #1c78c0;
}

.technologies__list-item:hover .express-logo {
    fill: #3c4a55;
}

.section-contacts {
    display: flex;
}

.contacts {
    flex-grow: 1;
    /* height: 100%; */
}

.contacts__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: calc(var(--index) * .6) 0 0; /* Отступ слева в браузере IE и Opera */
    padding: 0;
    min-height: 100%;
}


.contacts__item {
    text-decoration: none;
    list-style-type: none; /* Убираем маркеры */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(var(--index) * 18);
    /* height: calc(var(--index) * 8); */
    margin: 0 calc(var(--index) * .3) calc(var(--index) * 8.6);
    /* opacity: 0; */
}

.contacts__item-icon {
    /* position: absolute;
    top: 50%; */
    fill: #e4e4e4;
    width: calc(var(--index) * 2);
    height: calc(var(--index) * 2);
    margin-bottom: calc(var(--index) * 1);
}

.contacts__item-content {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: calc(var(--index));
    font-weight: 100;
    letter-spacing: calc(var(--index)*.05);
    color: #e4e4e4;
    /* z-index: 100; */
}
/* 
.contacts__item-icon:hover {
    fill: #00546B;
} */

.contacts__item-content:hover + .contacts__item-icon {
    fill: #00546B;
}


@font-face {
    font-family: 'MachinaFont';
    src: url('../assets/fonts/machina/PPNeueMachina-PlainRegular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PregoFont';
    src: url('../assets/fonts/prego/PregoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontFont';
    src: url('../assets/fonts/mont/mont_heavydemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MasvolFont';
    src: url('../assets/fonts/masvol/cd-masvol-thin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}