*, ::before, ::after {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

:root {
    --index: calc(1vh + 1vw);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
    --light-icon-color: #bcbcbc;
    --dark-icon-color: #00000000;
}

html {
    scroll-behavior: smooth;
    /* overflow-y: overlay; */

}

body {
    background: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.55;
    color: #e4e4e4;
    scrollbar-gutter: stable;

}

section, footer {
    min-height: calc(100vh + 1px);
    color: #e4e4e4;
    width: 100%;
    position: relative;
    padding: calc(var(--index)) calc(var(--index) * 1.6);
}

body::-webkit-scrollbar {
    position: absolute;
    left: 0;
    width: 7px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.401);
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(72, 72, 72, 0.401);
    /* border-radius: 3px; */
}

.particles {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: -100;

}

.title {
    text-align: center;
    /* font-size: calc(var(--index) * 2); */
    letter-spacing: calc(var(--index) * .15);
    color: #e4e4e4;
    font-size: calc(var(--index)*1.75);
    /* opacity: 0; */
}

.line {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    opacity: 0;
    height: 2px;
    background-color: #fff;
    margin: 0 auto calc(var(--index) * 2.25); 
    /* border-radius: 2px; */
}

.main-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
    overflow: hidden;
    position: relative;
    /* opacity: 0; */
}

.main-header::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    box-shadow: inset 0 0 250px #000000;
}

.main-header__header {
    /* position: absolute; */
    text-align: center;
    z-index: 1000;
    /* top: calc(var(--index) * 10.8); */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    letter-spacing: calc(var(--index) * .1);
    font-size: calc(var(--index)*1.75);
    /* opacity: 0; */
    /* will-change: transform;
    transition: var(--transition);
    transform: translate3d(0, calc(var(--scrollTop) / 2.2), 0); */
}

.main-header__header-title {
    font-size: calc(var(--index)*1.75);
}

.main-header__header-text {
    max-width: calc(var(--index) * 18);
    font-size: calc(var(--index) * .7 + 4px);
    color: #cccccc;
    margin-bottom: 100px;
}

/* .layer {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    will-change: transform;
    transition: var(--transition);
}

.layers__back {
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    z-index: 1;
}

.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
    z-index: 3;
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.5), 0);
    z-index: 4;
} */

.layer_new {
    position: fixed;
    left: 89%;
    top: 76%;
    /* left: 87%;
    top: 76%; */
    /* width: 232px; */
    width: calc(var(--index)*4.75);
    /* height: 344px; */
    /* background-size: cover; */
    z-index: 1000;
    opacity: 0.3;
    /* display: none; */
    /* will-change: transform; */
    transition: opacity 1.45s cubic-bezier(.075, .5, 0, 1);
    cursor: pointer;
    /* transform: translate3d(-50%, calc(var(--scrollTop) / 2), 0); */
}

.layer_new:hover {
    opacity: 1;
}

/* .layer_new::before {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    box-shadow: inset 20px -30px 50px 0 rgba(151, 0, 0, 0.4), inset -20px 0 50px 0 rgba(210, 210, 210, 0.4);
} */

.main-header__btn {
    text-align: center;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: calc(var(--index) * .75);
    border: 2px solid #cccccc;
    z-index: 100;
    width: 90px;
    height: 90px;
    border-radius: 90%;
    text-transform: uppercase;
    transition: border-color .7s ease-in-out;
    overflow: hidden;

}

.main-header__btn-arrow {
    position: absolute;
    transform: translate(-50%, -150%);
    left: 50%;
    top: 50%;
    color: #dcdcdc;
    height: 100%;
    width: 100%;
    transition: transform .7s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
}

.main-header__arrow-icon {
    fill: #bcbcbc;
    height: calc(var(--index) * 1.25);
}

.main-header__btn-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: transform .7s ease-in-out;
    font-size: calc(var(--index) * .6);
}

.main-header__btn:hover .main-header__btn-arrow {
    transform: translate(-50%, -50%);
}

.main-header__btn:hover .main-header__btn-text {
    transform: translate(-50%, 600%);
}


.main-header__btn:hover {
    border-color: transparent;

}

/* .main-header__btn:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgba(214, 214, 214, 0.3);
	transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
} */

/* .main-header__btn:hover:before {
	width: 100%;
} */



.works-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.slider {
    height: 74vh;
    width: 90vw;
    /* z-index: -100; */
}

.slider__item {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/works/test.jpg');
    background-position: center;
    background-size: cover;

}

.slider__about {
    width: 50vw;
    margin: calc(var(--index) * 7.6) calc(var(--index) * 7.6) 0;
}

.slider__header {
    font-size: 64px;
    line-height: 1;
    letter-spacing: calc(var(--index) * .1);
    font-size: calc(var(--index)*1.75);
    margin-bottom: calc(var(--index));
    opacity: 0;
}

.slider__description {
    margin-bottom: 20px;
    opacity: 0;

}

.slider__btn-cont {
    position: relative;
    display: inline-block;
    opacity: 0;

    /* border-radius: 20px; */

}

#slider__btn {
    /* position: relative; */
    /* all: unset; */
    /* display: inline-block; */
    /* text-transform: uppercase; */
    text-decoration: none;
    color: #fff;
    font-size: calc(var(--index) * 1);
    border: 1px solid #fff;
    padding: calc(var(--index) * .2) calc(var(--index) * 4);
    /* border-radius: 20px; */
    cursor: pointer;
}

#slider__btn:before {
	content:'';
	position: absolute;
    transform: translate(0%, -50%);
	top: 50%;
	left: 0%;
	width: 0;
	height: 100%;
	background: rgba(214, 214, 214, 0.3);
    /* border-radius: 20px; */

	transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
}

#slider__btn:hover:before {
	width: 100%;
    height: 100%;
}

#swiper-button-prev, #swiper-button-next {
    border: none;
    color: rgba(141, 141, 141, 0.623);
    font-size: calc(var(--index) * 1);
    padding: 10px;
    margin: 0 20px;
    transition: color .45s ease;
}

#swiper-button-prev:hover, #swiper-button-next:hover {
    color: #fff;
    /* color: rgba(141, 141, 141, 0.623); */
}
/* ************ */
/* Work section */
/* ************ */
.soft-skills-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.soft-skills {
    width: 100%;
    /* border-radius: 30px; */
    /* background-color: #ffffff2f; */
    padding: calc(var(--index) * .1);
    /* display: flex; */
    
}

.soft-skills__title {
    /* text-align: center;
    font-size: calc(var(--index) * 2.3);
    letter-spacing: calc(var(--index) * .15);
    margin: 0 0 calc(var(--index)); */
}

.soft-skills__content {
    /* background-color: #98989835; */
    border-radius: 10px;
    /* padding: calc(var(--index)); */
}

.soft-skills__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: calc(var(--index) * .6) 0 0; /* Отступ слева в браузере IE и Opera */
    padding: 0;

}

.soft-skills__skills:first-child {
    margin-top: calc(var(--index) * 2);
}

/* .soft-skills__skills > * {
    flex-basis: 0;
    flex-grow: 1;
  } */

.soft-skills__skill {
    text-decoration: none;
    list-style-type: none; /* Убираем маркеры */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    margin: 0 calc(var(--index) * .3) calc(var(--index) * .6);
    opacity: 0;
}

/* .soft-skills__skill:first-child {
    margin-left: 0;
}

.soft-skills__skill:last-child {
    margin-right: 0;
} */

/* .soft-skills__skill:hover {
    padding: calc(var(--index) * 2.25) calc(var(--index) * 4.25);
} */

.soft-skills__skill-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* fill: #bcbcbc; */
    fill: var(--light-icon-color);
    width: calc(var(--index) * 5.15);
    transition: all 1s ease;
    z-index: 1000;
}

.soft-skills__skill:hover .soft-skills__skill-icon {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #bcbcbc;
    width: calc(var(--index) * 5.15);
    transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
    z-index: 1000; */
    width: calc(var(--index) * 7.15);
}

.soft-skills__skill-description {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(var(--index) * 8);
    height: calc(var(--index) * 8);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-icon-color);
    /* opacity: ; */
    transition: all .6s ease;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* .soft-skills__skill:hover {
    
    background-color: #ffffff;
    width: 210px;
    height: 210px;
} */

/* .soft-skills__skill:hover .soft-skills__skill-icon {
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */


.soft-skills__skill:hover .soft-skills__skill-description {
    background-color: #e2e2e2;
    width: calc(var(--index) * 10.5);
    height: calc(var(--index) * 10.5);
    z-index: 999;
    /* opacity: 1; */

}

.python-logo, .redux-logo, .mysql-logo {
    /* fill: #bcbcbc; */
    fill: var(--light-icon-color);
    transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
}

.soft-skills__skill:hover .html-logo {
    fill: #e44d26;
}

.soft-skills__skill:hover .css-logo {
    fill: #1a45e1;
}

.soft-skills__skill:hover .js-logo {
    fill: #f7df1e;
}

.soft-skills__skill:hover .react-logo {
    fill: #02d3f7;
}

.soft-skills__skill:hover .vue-logo {
    fill: #3fb27f;
}

.soft-skills__skill:hover .nodejs-logo {
    fill: #599f48;
}

.soft-skills__skill:hover .php-logo {
    fill: #4d588e;
}

.soft-skills__skill:hover .laravel-logo {
    fill: #f72c1f;
}

.soft-skills__skill:hover .mysql-logo {
    fill: #00546B;
}

.soft-skills__skill:hover .mongodb-logo {
    fill: #47a340;
}

.soft-skills__skill:hover .bootstrap-logo {
    fill: #7d57b5;
}

.soft-skills__skill:hover .mui-logo {
    fill: #0883ff;
}

.soft-skills__skill:hover .git-logo {
    fill: #f15639;
}

.soft-skills__skill:hover .python-logo_up {

    fill: #3675a5;
}

.soft-skills__skill:hover .python-logo_down {
    fill: #f7d856;
}

.soft-skills__skill:hover .redux-logo {
    fill: #764ABC;
}

.webpack-line-logo, .webpack-space-logo, .webpack-cube-logo {
    transition: all 1s cubic-bezier(0.235, 0.470, 0.000, 1.000);
}

.webpack-line-logo {
    /* fill: #fff; */
    /* fill: #bcbcbc; */
    fill: var(--dark-icon-color);
}

.webpack-space-logo {
    /* fill: #8ed6fb; */
    fill: var(--light-icon-color);
}

.webpack-cube-logo {
    /* fill: #1c78c0; */
    fill: var(--light-icon-color);
}

.soft-skills__skill:hover .webpack-line-logo {
    fill: #fff;
}

.soft-skills__skill:hover .webpack-space-logo {
    fill: #8ed6fb;
}

.soft-skills__skill:hover .webpack-cube-logo {
    fill: #1c78c0;
}

.soft-skills__skill:hover .express-logo {
    fill: #3c4a55;
}